<header>
  <a href="#" class="logo"><span>R</span>ichi</a>
  <ul class="navlist mt-3">
    <li><a href="#home" class="active">Home</a></li>
    <li><a href="#about">About</a></li>
    <li><a href="#services">Skills</a></li>
    <li><a href="#portfolio">Projects</a></li>
    <!-- <li><a href="#blog">Blog</a></li>
    <li><a href="#contact">Contact</a></li> -->
  </ul>
  <div class="right-header">
    <!-- <a href="#" class="btn">Let's chat <i class="bx bx-message-dots"></i></a> -->
    <div class="menu-icon">
      <div class="bar"></div>
    </div>
  </div>
</header>
