<section class="about" id="about">
  <div class="about-img">
    <img src="../../assets/img/Devices-pana.svg" alt="" class="aboutHero" />
    <div class="showcase-ring">
      <img src="../assets/shapes/ring.png" class="ring" />
      <img src="../assets/shapes/circle.png" class="circle" />
    </div>
  </div>
  <div class="about-content">
    <h2 class="heading">About Me</h2>
    <!-- <h3>3 Year's Experience on Product Design</h3> -->
    <p>
      Self-motivated team player seeking opportunities in the field of Computer
      Science to apply my B.Sc. degree where I canfurther expand personal and
      professional experiences.
    </p>
    <div class="about-btn">
      <button class="active">Main Skills</button>
      <button>Education</button>
      <button>Contact</button>
    </div>
    <div class="content-btn">
      <div class="content">
        <div class="text-box">
          <p>Front-end</p>
          <span> -Skilled in HTML, CSS, and responsive web design.</span>
          <span>
            - Capable of integrating RESTful APIs and handling data in
            Angular.</span
          >
          <span>
            - Experienced in project setup, code generation, and development
            with Angular CLI.</span
          >
        </div>
        <div class="text-box">
          <p>Back-end</p>
          <span>
            - Node.js: Creating high-performance server-side applications.</span
          >
          <span
            >- Express: Efficiently handling HTTP requests and routing.</span
          >
          <span
            >- MongoDB: Flexible NoSQL database for adaptable data
            structures.</span
          >
          <span>
            - JWT (JSON Web Tokens): Secure user authentication and session
          </span>
        </div>
      </div>

      <div class="content">
        <div class="text-box">
          <p>Online Courses and Bootcamps</p>
          <span>Full Stack (MEAN) Diploma | Route </span>
          <span>Angular - The Complete Guide (2023 Edition) </span>
          <span>MEAN Stack E-Commerce App: Angular</span>
        </div>
        <div class="text-box">
          <p>Education</p>
          <span
            >B.Sc. Computer Science |<br />
            Misr University of Science and Technology |<br />
            GPA 3.45</span
          >
        </div>
      </div>

      <div class="content">
        <div class="text-box">
          <p>E-mail</p>
          <span>adel.berhan@gmail.com</span>
        </div>
        <div class="text-box">
          <p>Phone</p>
          <span>01014308323</span>
        </div>
        <div class="text-box">
          <ul class="list-inline list-icons">
            <li class="list-inline-item">
              <a
                href="https://www.linkedin.com/in/adel-ahmed-2622a6211/"
                target="_blank"
              >
                <i class="devicon-linkedin-plain"></i>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="https://github.com/adelberhan" target="_blank">
                <i class="devicon-github-original colored"></i>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="cvContent">
      <a href="../assets/img/resume.pdf" target="_blank" class="btn d-CV"
        >Download CV <i class="bx bx-download"></i
      ></a>
    </div>
  </div>
</section>
