<section class="portfolio" id="portfolio">
  <div class="main-text">
    <h2 class="heading">My Projects</h2>
    <span>what i will do for you</span>
  </div>
  <div class="fillter-buttons">
    <button class="button mixitup-control-active" data-filter="all">
      All Work
    </button>
    <button class="button" data-filter=".front">Front-end</button>
    <button class="button" data-filter=".back">Back-end</button>
    <!-- <button class="button" data-filter=".branding">Branding Design</button> -->
  </div>

  <div class="portfolio-gallery">
    <!-- <div class="portfolio-box mix uiux">
      <div class="portfolio-content">
        <h3>UI/UX Design</h3>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores,
          soluta.
        </p>
        <a target="_blank" href="#" class="readMore">Demo</a>
      </div>
      <div class="portfolio-img">
        <img src="../assets/img/portfolio/1.jpg" alt="" />
      </div>
    </div> -->

    <!-- <div class="portfolio-box mix web">
      <div class="portfolio-content">
        <h3>Web Design</h3>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores,
          soluta.
        </p>
        <a target="_blank" href="#" class="readMore">Demo</a>
      </div>
      <div class="portfolio-img">
        <img src="../assets/img/portfolio/2.jpg" alt="" />
      </div>
    </div> -->

    <div class="portfolio-box mix front back">
      <div class="portfolio-content">
        <h3>e-commerce</h3>
        <p>
          A full web application using the MEAN stack, which stands for MongoDB,
          Express, Angular, and Node.js
        </p>
        <a
          target="_blank"
          href="https://adelberhan.github.io/ng-shop/"
          class="readMore"
          >Demo</a
        >
      </div>
      <div class="portfolio-img">
        <img
          src="http://drive.google.com/uc?export=view&id=1mlQcNqbgoZrS1N9nN-t6aP4tLDXMWyo9"
          alt=""
        />
      </div>
    </div>

    <div class="portfolio-box mix front">
      <div class="portfolio-content">
        <h3>Movies & TV</h3>
        <p>Movie and TV show app with using TMDB api</p>
        <a
          target="_blank"
          href="https://adelberhan.github.io/moves/"
          class="readMore"
          >Demo</a
        >
      </div>
      <div class="portfolio-img">
        <img
          src="http://drive.google.com/uc?export=view&id=1ajbjapnY06jkJbLeS6OOZsch0zO-BtGR"
          alt=""
        />
      </div>
    </div>

    <div class="portfolio-box mix back">
      <div class="portfolio-content">
        <h3>Story</h3>
        <p>
          This application leverages Node.js and Express powered by MongoDB,
          implementing Google OAuth for secure authentication, and enabling
          seamless CRUD (Create, Read, Update, Delete) operations for managing
          storeys
        </p>
        <a
          href="https://story-ml9e.onrender.com/"
          target="_blank"
          class="readMore"
          >Demo</a
        >
      </div>
      <div class="portfolio-img">
        <img
          src="http://drive.google.com/uc?export=view&id=1gP017Ks8bAYl5vVgZ5bBLUsXg0u5q0mY"
          alt=""
        />
      </div>
    </div>

    <div class="portfolio-box mix front">
      <div class="portfolio-content">
        <h3>TODO</h3>
        <p>
          TODO application using Angular, where you'll explore essential
          concepts such as drag-and-drop functionality, CRUD operations in
          Angular, and the integration of Angular Material components.
        </p>
        <a
          target="_blank"
          href="https://adelberhan.github.io/todo/"
          class="readMore"
          >Demo</a
        >
      </div>
      <div class="portfolio-img">
        <img
          src="http://drive.google.com/uc?export=view&id=1c0ww1TIWj5ICywvBcAuCcH5xxoQrYo1W"
          alt=""
        />
      </div>
    </div>
  </div>
</section>
