<section class="services" id="services">
  <!-- <div class="main-text">
    <h2 class="heading">My Projects</h2>
    <span>what i will do for you</span>
  </div> -->

  <!-- <div class="allServices">
    <div class="servicesItem">
      <div class="icon-services">
        <i class="bx bx-layer"></i>
        <span></span>
      </div>
      <h3>App Development</h3>
      <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Iure inventore
        ea nemo ab recusandae modi voluptates maxime ipsam eveniet. Facilis.
      </p>
      <a href="#" class="readMore">Read More</a>
    </div>

    <div class="servicesItem">
      <div class="icon-services">
        <i class="bx bx-code-alt"></i>
        <span></span>
      </div>
      <h3>Web Development</h3>
      <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Iure inventore
        ea nemo ab recusandae modi voluptates maxime ipsam eveniet. Facilis.
      </p>
      <a href="#" class="readMore">Read More</a>
    </div>

    <div class="servicesItem">
      <div class="icon-services">
        <i class="bx bx-desktop"></i>
        <span></span>
      </div>
      <h3>UI / UX Design</h3>
      <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Iure inventore
        ea nemo ab recusandae modi voluptates maxime ipsam eveniet. Facilis.
      </p>
      <a href="#" class="readMore">Read More</a>
    </div>

    <div class="servicesItem">
      <div class="icon-services">
        <i class="bx bxs-party"></i>
        <span></span>
      </div>
      <h3>Digital Marketing</h3>
      <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Iure inventore
        ea nemo ab recusandae modi voluptates maxime ipsam eveniet. Facilis.
      </p>
      <a href="#" class="readMore">Read More</a>
    </div>
  </div> -->

  <div class="proposal">
    <div class="text-box main-text m-2">
      <span class="service">Skills</span>
      <br />
      <br />

      <div class="container h-100">
        <div class="row align-items-center h-100">
          <div class="container rounded">
            <!-- <h1 class="text-center">Featured in:</h1> -->
            <div class="slider">
              <div class="logos">
                <i class="p-3 devicon-html5-plain"></i>
                <i class="p-3 devicon-css3-plain"></i>
                <i class="p-3 devicon-javascript-plain"></i>
                <img src="../../assets/icons/nx-logo.png" alt="" />

                <i class="p-3 devicon-mongodb-plain"></i>
                <i class="p-3 devicon-bootstrap-plain"></i>
                <i class="p-3 devicon-express-plain"></i>
                <i class="p-3 devicon-typescript-plain"></i>
                <i class="p-3 devicon-angularjs-plain"></i>
                <i class="p-3 devicon-npm-original-wordmark"></i>
              </div>
              <div class="p-3 logos">
                <i class="p-3 devicon-html5-plain"></i>
                <i class="p-3 devicon-css3-plain"></i>
                <i class="p-3 devicon-javascript-plain"></i>
                <img src="../../assets/icons/nx-logo.png" alt="" />

                <i class="p-3 devicon-mongodb-plain"></i>
                <i class="p-3 devicon-bootstrap-plain"></i>
                <i class="p-3 devicon-express-plain"></i>
                <i class="p-3 devicon-typescript-plain"></i>
                <i class="p-3 devicon-angularjs-plain"></i>
                <i class="p-3 devicon-npm-original-wordmark"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- <div class="proposal">
    <div class="text-box main-text m-2">
      <span class="service">Tools</span>
      <br />
      <br />

      <div class="container h-100">
        <div class="row align-items-center h-100">
          <div class="container rounded">
            <div class="slider">
              <div class="logos">
                <img
                  src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/vscode/vscode-plain.svg"
                />

                <i class="p-3 devicon-css3-plain"></i>
                <i class="p-3 devicon-javascript-plain"></i>
                <i class="p-3 devicon-jquery-plain"></i>
                <i class="p-3 devicon-mongodb-plain"></i>
                <i class="p-3 devicon-bootstrap-plain"></i>
                <i class="p-3 devicon-express-plain"></i>
                <i class="p-3 devicon-typescript-plain"></i>
                <i class="p-3 devicon-angularjs-plain"></i>
                <i class="p-3 devicon-npm-original-wordmark"></i>
              </div>
              <div class="p-3 logos">
                <img
                  src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/vscode/vscode-plain.svg"
                />

                <i class="p-3 devicon-css3-plain"></i>
                <i class="p-3 devicon-javascript-plain"></i>
                <i class="p-3 devicon-jquery-plain"></i>
                <i class="p-3 devicon-mongodb-plain"></i>
                <i class="p-3 devicon-bootstrap-plain"></i>
                <i class="p-3 devicon-express-plain"></i>
                <i class="p-3 devicon-typescript-plain"></i>
                <i class="p-3 devicon-angularjs-plain"></i>
                <i class="p-3 devicon-npm-original-wordmark"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div> -->

  <div class="showcase">
    <img src="../assets/shapes/ring.png" class="ring" />
    <img src="../assets/shapes/circle.png" class="circle" />
    <img src="../assets/shapes/circle.png" class="circle2" />
    <img src="../assets/shapes/circle.png" class="circle3" />
    <img src="../assets/shapes/half-ring.png" class="half-ring" />
  </div>
</section>
