<section class="home" id="home">
  <div class="hero-info">
    <h3>Welcome To my World</h3>
    <h1>Hi I'm Adel</h1>

    <div class="text-animate">
      <h2>MEAN STACK Developer</h2>
    </div>

    <p>
      I am in love with front-end web development. I am a fast learner and
      Passionate for learning new technologies. I aim to learn professional
      processes of software development and work with a team according to
      structured standards in a productive environment.
    </p>

    <div class="btn-box">
      <a href="mailto:richard@mail.com" class="btn"
        >Hire Me Now ! <i class="bx bx-right-arrow-alt"></i
      ></a>
      <a
        href="https://drive.google.com/file/d/1p6wisbxuyZjuyPCTRnWbOwG8UrWjACsD/view"
        target="_blank"
        class="btn d-CV"
        >Download CV <i class="bx bx-download"></i
      ></a>
    </div>

    <div class="social-media">
      <div class="bg-icon">
        <a href="https://www.instagram.com/adel__br/" target="_blank"
          ><i class="bx bxl-instagram"></i
        ></a>
        <span></span>
      </div>

      <div class="bg-icon">
        <a href="https://github.com/adelberhan" target="_blank"
          ><i class="bx bxl-github"></i
        ></a>
        <span></span>
      </div>

      <div class="bg-icon">
        <a href="https://www.facebook.com/adel.mohamedberhan/" target="_blank"
          ><i class="bx bxl-facebook"></i
        ></a>
        <span></span>
      </div>
    </div>
  </div>
  <div class="img-hero">
    <img
      src="http://drive.google.com/uc?export=view&id=1rtGMmHX6YmTr5LPfFzpGxYCrz3h1Mwnm"
      alt=""
    />
    <div class="rotate-text">
      <div class="text">
        <p>I'm Youtuber And I'm Frontend Developer And I'm Designer</p>
      </div>
      <span><i></i></span>
    </div>
  </div>
</section>
